#clearmargins {
  margin: 0px;
}
.mainfooter {
padding-top: 10px;
padding-bottom:10px;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

footer {
  display: fixed;
  position: 100%;
}