#clearmargins {
  margin: 0px;
}
.mainfooter {
padding-top: 10px;
padding-bottom:10px;
position: fixed;
bottom: 0;
width: 100%;
}

#footLinks {
  padding: 10px;
}

.imgdiv {
  display: inline-block;
  margin: 10px
}
.logoimage {
  height: 300px;
}

.searchBar {
  margin-top: 30px;
  padding-top: 20px;
}

.input-field .prefix.active {
  color: orangered;
}

#icon_prefix:focus {
  border-bottom: 1px solid orangered;
  box-shadow: 0 1px 0 0 orangered;
}
#icon_prefix:focus + label {
  color: orangered
}

.input-field {
  color:white
}

.addimgmarg {
  margin-left: 10%
}

.newsdiv {
  color: mediumblue;
  font-weight: bold;
  padding: 10px;
}

.newsHeader, .imgHeader, .ytHeader {
  margin-top: 0;
  margin-left: 10px;
}

.vidiv {
  display: inline-block;
  margin: 10px;
  max-width: 320px;
}

.vidheader {
  text-align: center;
  padding:10px;
  color: mediumblue
}