#clearmargins {
  margin: 0px;
}
.mainfooter {
padding-top: 10px;
padding-bottom:10px;
position: fixed;
bottom: 0;
width: 100%;
}

#footLinks {
  padding: 10px;
}

.logoimage {
  height: 300px;
}

.searchBar {
  margin-top: 100px;
  padding-top: 20px;
}